body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.menu {
  color: black;
}

.slider {
  height: 400px;
}

.line {
  margin-bottom: 35px;
  width: 50px;
  height: 5px;
  background-color: black;
}

.sidebar {
  background-color: #fcba03;
  height: 200px;
}
